@model Accounts

@{
    ViewData["Title"] = "RegisterVertification";
    Layout = "_Layout";
    TempData["ControllerState"] = "Account";
    TempData["ViewState"] = "RegisterVertification";
}

<div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form name="RegisterVertification" asp-action="RegisterVertification">
                <h1>RegisterVertification</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input class="form-control" asp-for="Username" value="@Model.Username" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input class="form-control" asp-for="Email" value="@Model.Email" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Phonenumber" class="control-label">Phone Number</label>
                    <input class="form-control" asp-for="Phonenumber" value="@Model.Phonenumber" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Firstname" class="control-label">First Name</label>
                    <input class="form-control" asp-for="Firstname" value="@Model.Firstname" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Lastname" class="control-label">Last Name</label>
                    <input class="form-control" asp-for="Lastname" value="@Model.Lastname" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Dateofbirth" class="control-label">Date Of Birth</label>
                    <input type="text" class="form-control" asp-for="Dateofbirth" value="@Model.Dateofbirth" readonly />
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="Password" value="@Model.Password" readonly hidden />
                </div>
                <div class="form-group">
                    <input type="submit" value="Verify Account Creation" class="btn btn-default btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>