@model Accounts

@{
    ViewData["Title"] = "RegisterVertification";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-4">
        <form name="RegisterVertification" asp-action="RegisterVertification">
            <h1>RegisterVertification</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Username)</label>
                <input class="form-control" asp-for="Username" value="@Model.Username" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Email)</label>
                <input class="form-control" asp-for="Email" value="@Model.Email" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Phonenumber)</label>
                <input class="form-control" asp-for="Phonenumber" value="@Model.Phonenumber" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Firstname)</label>
                <input class="form-control" asp-for="Firstname" value="@Model.Firstname" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Lastname)</label>
                <input class="form-control" asp-for="Lastname" value="@Model.Lastname" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Dateofbirth)</label>
                <input type="text" class="form-control" asp-for="Dateofbirth" value="@Model.Dateofbirth" readonly />
            </div>
            <div class="form-group">
                <input class="form-control" asp-for="Password" value="@Model.Password" readonly hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="Verify Account Creation" class="btn btn-default btn-primary" />
            </div>
        </form>
    </div>
</div>