@model IEnumerable<Books>

<h1>UpdateBook</h1>
@{  int i = 0; }
<form asp-action="UpdateAll" method="post">

    <div class="card m-2" style="width: 16rem;">
        @foreach (Books b in Model)
        {
            <div class="card-img-top bg-warning form-group">
                <b>ImageUrlS: </b>
                <input class="form-control" name="Books[@i].ImageUrlS"
                       value="@b.ImageUrlS" />
                <b>ImageUrlM: </b>
                <input class="form-control" name="Books[@i].ImageUrlM"
                       value="@b.ImageUrlM" />
                <b>ImageUrlL: </b>
                <input class="form-control" name="Books[@i].ImageUrlL"
                       value="@b.ImageUrlL" />
            </div>
            <div class="card-body">
                <h5 class="card-title form-group">
                    <b>Title: </b>
                    <input class="form-control" name="Books[@i].BookTitle"
                           value="@b.BookTitle" />
                </h5>
                <p class="card-text form-group">
                    <b>Author: ></b>
                    <input class="form-control" name="Books[@i].BookAuthor"
                           value="@b.BookAuthor" />
                </p>
            </div>
            <ul class="list-group list-group-flush form-group">
                <li class="list-group-item form-control">
                    <b>Publisher: </b>
                    <input class="form-control" name="Books[@i].Publisher"
                           value="@b.Publisher" />
                </li>
                <li class="list-group-item form-group">
                    <b>Year Published: ></b>
                    <input class="form-control" name="Books[@i].YearOfPublication"
                           value="@b.YearOfPublication" />
                </li>
                <li class="list-group-item form-group">
                    <b>ISBN: </b>
                    @b.Isbn
                    <input type="hidden" name="Books[@i].Isbn" value="@b.Isbn" />
                </li>
            </ul>
            i++;
        }
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save All</button>
            <a asp-action="Index" class="btn btn-outline-primary">Cancel</a>
        </div>
    </div>
</form>