@model IEnumerable<BookLibraryApp.Models.Accounts>
@{
    ViewData["Title"] = "Users";
    Layout = "_Layout";
    TempData["ControllerState"] = "Home";
    TempData["ViewState"] = "Users";
}

<h1>Users</h1>

<table class="table">
    <thread>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dateofbirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datecreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
        </tr>
    </thread>
    <tbody>
        @foreach (Accounts item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateofbirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datecreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
        </tr>
        }
    </tbody>
</table>