@model BookLibraryApp.Models.Books

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Books</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookAuthor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookAuthor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfPublication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfPublication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrlS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrlS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrlM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrlM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrlL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrlL)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Isbn" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
