@model IEnumerable<Books>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Books</h1>
<br />
<div class="container-fluid">
    <div class="row p-2">
        <div class="col-2">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
</div>
<div class="text-center">
    @{
        ViewBag.searches = new string[] { "BookTitle", "BookAuthor", "Publisher" };
        ViewBag.sorts = new string[] { "BookTitle", "BookAuthor",
            "Publisher", "YearOfPublication"};
    }
    @Html.Partial("PageOptions", Model)
</div>
<br />
<hr />
<div class="bg-dark">
    <br />
    <br />
    @if (ViewBag.UpdateAll != true)
    {
        <div class="text-center">
            <a asp-action="UpdateAll" class="btn btn-primary">Edit All</a>
        </div>
        @if (Model.Count() == 0)
        {
            <div class="row placeholder justify-content-center">
                <div class="col text-center p-2">No Books</div>
            </div>
        }
        else
        {
            <div class="row justify-content-center">
                <br />
                <form asp-action="AddBook" method="post">
                    <div class="card m-2" style="width: 16rem;">
                        <div class="card-img-top bg-warning">
                            Small Image<input name="ImageUrlS" class="form-control" />
                            Medium Image<input name="ImageUrlM" class="form-control" />
                            Large Image<input name="ImageUrlL" class="form-control" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <b>Title: </b><input name="BookTitle" class="form-control" />
                            </h5>
                            <p class="card-text">
                                <b>Author: </b><input name="BookAuthor" class="form-control" />
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b>Publisher: </b><input name="Publisher" class="form-control" />
                            </li>
                            <li class="list-group-item">
                                <b>Year Published: </b><input name="YearOfPublication" class="form-control" />
                            </li>
                            <li class="list-group-item">
                                <b>ISBN: </b><input name="Isbn" class="form-control" />
                            </li>
                            <li class="list-group-item">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </li>
                        </ul>
                    </div>
                </form>
                @foreach (Books b in Model)
                {
                    <br />
                    <div class="card m-2" style="width: 16rem;">
                        <img class="card-img-top bg-warning"
                             srcset="@b.ImageUrlS 200w,
                            @b.ImageUrlM 400w,
                            @b.ImageUrlL 600w"
                             sizes="(max-width: 600px) 200px, 400px, 600px"
                             src="@b.ImageUrlS" alt="Book Image"
                             onerror="this.onerror = null; this.src = '~/img/NoPicture.jpg';">
                        <div class="card-body">
                            <h5 class="card-title"><b>Title: </b>@b.BookTitle</h5>
                            <p class="card-text"><b>Author: </b>@b.BookAuthor</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Publisher: </b>@b.Publisher</li>
                            <li class="list-group-item"><b>Year Published: </b>@b.YearOfPublication</li>
                            <li class="list-group-item"><b>ISBN: </b>@b.Isbn</li>
                            <li class="list-group-item">
                                <a asp-action="UpdateBook" asp-route-isbn="@b.Isbn" class="btn btn-outline-primary">
                                    Edit
                                </a>
                            </li>
                        </ul>
                        <!--       <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        -->
                    </div>
                    <br />
                }
            </div>
        }
    }
    else
    {
        @Html.Partial("InlineEditor", Model)
    }
    <br />
    <br />
</div>
<hr />
<br />
<div class="text-center">
    @Html.Partial("Pages", Model)
</div>
<br />
