@model IEnumerable<Books>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Books</h1>
<br />
<hr />
<br />
@if (Model.Count() == 0)
{

}
else
{
    <div class="row">
        <br />
        @foreach (Books b in Model)
        {
            <br />
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" 
                     srcset="@b.ImageUrlS 200w, 
                     @b.ImageUrlM 400w, 
                     @b.ImageUrlL 600w"
                     sizes="(max-width: 600px) 200px, 400px, 600px"
                     src="@b.ImageUrlL" alt="Book Image">
                <div class="card-body">
                    <h5 class="card-title"><b>Author: </b>@b.BookAuthor</h5>
                    <p class="card-text"><b>Title: </b>@b.BookTitle</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Publisher</b>@b.Publisher</li>
                    <li class="list-group-item"><b>Year Published: </b>@b.YearOfPublication</li>
                    <li class="list-group-item"><b>ISBN: </b>@b.Isbn</li>
                </ul>
                <!--       <div class="card-body">
                           <a href="#" class="card-link">Card link</a>
                           <a href="#" class="card-link">Another link</a>
                       </div>
                   -->
            </div>
            <br />
        }
    </div>
}
